{
    "env": {
      "browser": true,
      "commonjs": true,
      "es2021": true,
      "node": true
    },
    "extends": [
      "plugin:react/recommended", 
      "airbnb",     
      "plugin:import/typescript"
  ],
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 2018
    },
    "plugins": ["react"],
    "rules": {
      "no-console": "error",
      "indent": [
        "error",
        2,
        {
          "SwitchCase": 1
        }
      ],
      "quotes": ["error", "single"],
      "semi": ["error", "always"],
      "jsx-quotes": [2, "prefer-single"],    
      "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
      "react/function-component-definition": [
        "error",
        {
          "namedComponents": ["function-declaration", "arrow-function"],
          "unnamedComponents": "arrow-function"
        }
      ],
      "import/extensions": [
        "error",
        "ignorePackages",
        {
          "js": "never",
          "jsx": "never",
          "ts": "never",
          "tsx": "never"
        }
      ],
      "import/no-extraneous-dependencies": [
        "error",
        {
          "devDependencies": true
        }
      ],
      "linebreak-style": ["error", "unix"],
      "eol-last": ["error", "unix"],
      "comma-dangle": ["error", "never"],
      "import/prefer-default-export": "off"
    }
  }
  