@font-face {
    font-family: Atlantic_Cruise;
    src: url("./public/Assets/Fonts/Atlantic_Cruise.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("./public/Assets/Fonts/Poppins.ttf");
}