.title-box {
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.title-prefix {
  color: white;
  font-size: 1rem;
  font-family: Poppins;
}

.title {
  font-size: 12rem;
  font-family: 'Atlantic-Cruise';
  margin-top: 1rem;
  background: -webkit-linear-gradient(#FFFFFF, #3AD4F8);
  background: linear-gradient(#FFFFFF, #3AD4F8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 1rem rgb(177, 175, 175));
}

.title-suffix {
  margin-top: -0.5em;
  font-size: 1.5rem;
  font-family: 'Atlantic-Cruise';
  letter-spacing: 0.25em;
  color: #A1F6FF;
  font-weight: bold;
  word-spacing: 0.5em;
}

.register-button {
  background: #79E2FB;
  color: #0F1B33;
  padding: 0.75em 1em;
  text-transform: uppercase;
  /* font-size: 1rem; */
  font-size: Poppins;
  font-weight: bold;
  outline: none;
  border: none;
  margin-top: 4rem;
  transition: 0.5s;
  cursor: pointer;
}

.register-button:hover {
  background-color: #50b6cf;
  transform: scale(1.1);
}

.nittLogo{
    display: flex;
    justify-content: center;
  }

.nittLogo >img{
  max-width: 50%;
}

/* Phones */
@media (max-width: 640px) {
  .title {
    font-size: 6rem;
    margin-bottom: 1rem;
  }

  .title-suffix {
    font-size: 1rem;
  }
}