.display{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    font-size:70px;
}

.title {
    font-size: 100%;
    font-family: 'Atlantic-Cruise';
    margin-top: 0.5rem;
    text-align: center;
    background: -webkit-linear-gradient(#FFFFFF, #3AD4F8);
    background: linear-gradient(#FFFFFF, #3AD4F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 1rem rgb(177, 175, 175));
  }

.profileDetails {
    background-color: rgb(0, 0, 0,0.25);
    /* opacity: 0.65;  */
    height: 65vh;
    margin: 8%;
    margin-bottom: 3%;
    margin-top: 0;
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    display:flex;
    flex-direction: column;
    overflow-y: auto;
}

    
.name{
    font-size: 40%;
    margin-top: 4%;
    margin-bottom: 3%;
    padding-left: 6%;
    color: #FFFFFF;
}

.qr{
    width:100%;
    max-height:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.qr>img {
    max-width:50%;
}

.tshirt{
    max-height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
.tshirtHeading {
    font-size: 35%;
    text-align: center;
    margin-bottom: 5%;
    
}

.tshirtOptions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentSize {
    font-size: 200%;
    width: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.allOptions{
    margin-top: 15%;
    font-size: 30%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
}

.available{
    /* transition: background 1s ease-out;   */
    width:80%;
    padding-left: 1%;
}

@media screen and (min-width: 300px) and (max-width:400px)  {
    .display{
        font-size:48px;
    }
}