.container {
	height: calc(100vh - 10rem);
	width: 100%;
	padding-left: 36.25%;
	padding-right: 36.25%;
}

.titleContainer {
	padding-top: 5%;
	height: 25%;
	width: 100%;
}

.title {
	font-family: "Atlantic-Cruise";
	font-weight: 400;
	font-size: 110px;
	line-height: 100%;

	cursor: default;

	background: linear-gradient(180deg, #ffffff 0%, #79e2fb 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	filter: drop-shadow(0 0 1rem rgb(177, 175, 175));
}

.linksContainer {
	height: 75%;
	width: 100%;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
	gap: 7px;
	align-items: flex-start;
	justify-content: flex-start;
}

.linkContainer {
	height: 10%;
	min-height: 60px;
	width: 100%;
	background: rgba(0, 0, 0, 0.33);
	backdrop-filter: blur(16px);

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 38px;

	transition-property: all !important;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
	transition-duration: 150ms !important;
}

.linksContainer::-webkit-scrollbar {
	width: 5px;
}

.linksContainer::-webkit-scrollbar-track {
	box-shadow: none;
}

.linkContainer:hover {
	background: rgba(0, 0, 0, 0.5);
	letter-spacing: 1px;
}

@media (max-width: 768px) {
	.container {
		padding-left: 23.8%;
		padding-right: 23.8%;
	}

	.titleContainer {
		height: 16%;
	}

	.linksContainer {
		height: 84%;
	}

	.title {
		font-size: 60px;
	}

	.linkContainer {
		font-size: 22px;
		line-height: 33px;
	}
}
