.about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    font-size: 1.2em;
}

.mobileWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 1em 0 1em;
}

.wrapper {
    width: 50%;
    position: relative;
    margin: 1em;
    padding: 2em;
    display: inline-block;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 24px rgba(121, 226, 251, 0.35);
    backdrop-filter: blur(8px);
    font-family: Poppins;
}

.wrapper h3 {
    font-size: 3.5em;
    font-family: Atlantic_Cruise;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -0.80em;
    background: linear-gradient(179deg, #FFFFFF 14.23%, #3AD4F8 99.14%);
    filter: drop-shadow(0 0 1rem rgb(177, 175, 175));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    letter-spacing: 0.05em;
}

.mobileContent{
    letter-spacing: 0.03em;
    font-size: 0.85em;
    padding: 1em;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 24px rgba(121, 226, 251, 0.35);
    backdrop-filter: blur(8px);
    font-family: Poppins;
    height: 60vh;
    padding: 1.2em;
    overflow-y: scroll;
}

.content {
    line-height: 164.5%;
    letter-spacing: 0.03em  ;
    font-size: 1.15em;
    height: 60vh;
    padding: 1.2em;
    overflow-y: scroll;
}

.name{
    position: relative;
    font-family: Atlantic_Cruise;
    text-transform: uppercase;
    text-align: right;
    font-size: 2.5em;
    background: linear-gradient(179deg, #FFFFFF 14.23%, #3AD4F8 99.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}