.container{
    height:65vh;
    margin-top:10%;
    margin:8%;
    margin-bottom: 3%;
    font-size:25px;
    background-color: rgb(0, 0, 0, 0.25);
    color: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow-y: auto;

}

.sponsorList{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%; 
    justify-content: space-evenly;
}
.title{
    text-align: center;
    font-weight: bolder;
    font-size:100%;
    height: 10%;
}
.data{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: space-around; height: 90%;
}
.row{
    display: flex;
    height: 45%;
    flex-direction: row;
    width:100%;
    justify-content: space-evenly;
}
.cards{
    display:flex;
    flex-direction:column;
    width:22%;
    justify-content: space-evenly;
}
.portfolio{
    text-align: center;
    font-size:80%;
    height:15%;
}
.logo{
    color: white;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo>img{
    max-height: 90%;
}
/* .mobileContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    padding: 1em;
    margin-top: -1em;
    font-family: Poppins;
}

.cardProperty{
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 24px rgba(121, 226, 251, 0.35);
    backdrop-filter: blur(8px);
    width: 30em;
}

.card{
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 24px rgba(121, 226, 251, 0.35);
    backdrop-filter: blur(8px);
}

.name{
    position: relative;
    font-family: Atlantic_Cruise;
    text-align: right;
    font-size: 3em;
    background: linear-gradient(179deg, #FFFFFF 14.23%, #3AD4F8 99.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(0 0 1rem rgb(177, 175, 175));
}  */

/* @media only screen and (min-width: 1024px) {
    .name {
      font-size: 6em;
      text-align: center;
    }
    .container{
        width: 50%
    }
} */
