.outerContainer {
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
}

.container {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

.cardFull {
    color: #FFF;
    width: 30rem;
    height: 30rem;
    border-radius: 2rem;
}

.cardFull:hover{
    cursor: pointer;
}

.cardImg {
    width: 30rem;
    height: 30rem;
    border-radius: 2rem;
}

@media (max-width: 1000px) {
    .container {
        background-size: cover;
    }
}

@media only screen and (max-width: 950px)  {

    .cardFull {
        color: #FFF;
        width: 20rem;
        height: 20rem;
        border-radius: 2rem;
    }
    
    .cardImg {
        width: 20rem;
        height: 20rem;
        border-radius: 2rem;
    }
}

@media only screen and (max-width: 660px)  {

    .cardFull {
        color: #FFF;
        width: 16rem;
        height: 16rem;
        border-radius: 2rem;
    }
    
    .cardImg {
        width: 8rem;
        width: 16rem;
        height: 16rem;
        border-radius: 2rem;
    }
}

@media only screen and (max-width: 450px)  {

    .cardFull {
        color: #FFF;
        width: 12rem;
        height: 12rem;
        border-radius: 2rem;
    }
    
    .cardImg {
        width: 12rem;
        height: 12rem;
        border-radius: 2rem;
    }
}

@media only screen and (max-width: 300px)  {

    .cardFull {
        color: #FFF;
        width: 10rem;
        height: 10rem;
        border-radius: 2rem;
    }

    .cardImg {
        width: 10rem;
        height: 10rem;
        border-radius: 2rem;
    }
}

@media screen and (max-height: 350px) {
    .cardFull {
        width: 15rem;
        height: 15rem;
    }
    
    .cardImg {
        width: 15rem;
        height: 15rem;
        padding: 2px;
    }
}

.eventDetails {
    background-color: black;
    opacity: 0.65; 
    font-size: 1.5rem;
    height: 70vh;
    width: 20%;
    padding: 4rem;
    margin: 3rem;
    margin-top: 8rem;
    color: white;}
  
    .carouselFix{
        opacity: 0;
        font-size: 0.1rem;
    }

    .eventTitle {
      text-align: center;
      display: flex;
      font-size: 1.5rem;
      flex-direction: column;
      justify-content: center;
        background-color: black;
        opacity: 0.65; 
        height: 70vh;
        width: 20%;
        padding: 0 2rem;
        margin: 3rem;
        margin-top: 8rem;
        color: white;}

  .clusters {
  font-size: 15rem;
  font-family: 'Atlantic-Cruise';
  margin-top: 1rem;
  background : -webkit-linear-gradient(#FFFFFF, #3AD4F8);
  background : linear-gradient(#FFFFFF, #3AD4F8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 1rem rgb(177, 175, 175));
  }

  .clustersMobile {
    display: none;
    font-size: 7rem;
    text-align: center;
    font-family: 'Atlantic-Cruise';
    margin-top: 1rem;
    background : -webkit-linear-gradient(#FFFFFF, #3AD4F8);
    background : linear-gradient(#FFFFFF, #3AD4F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 1rem rgb(177, 175, 175));
    }

  .eventsLayout {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 1rem;
}

@media screen and (max-width: 575px) {
    .eventsLayout {
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;
    }

    .eventDetails {
      height: 15rem;
      width: 80%;
      font-size: 0.8rem;
      padding: 2rem;
    }

    .eventTitle{
      height: 3rem;
      width: 100%;
      margin-bottom: 0;
      margin-top: 0;
      font-size: 0.8rem;
    }

    .clusters{
      display: none;
    }

    .carouselFix{ 
        font-size: 5rem;
    }
    .clustersMobile{
     display: block;
    }
  }