 .slick-slide{
    text-transform: capitalize;
    margin: 10px 0;
  }

  .slick-center {
    transform: scale(1.5);
    color: #79E2FB;
    text-decoration: line-through !important;
}

  .slick-tracker {
    height: 20rem;
  }