.gradient{
    position: relative;
    inset: 0 0 0 0;
    height: 9.6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1.5em 0em 1.5em;
    font-family: Poppins;
    background: linear-gradient(180deg, #000000 -48.72%, rgba(0, 0, 0, 0) 184.19%);
}

@media only screen and (min-width: 1024px) {
    .gradient{
        height: 11vh;
        padding: 0em 4em 0em 4em;
    }
}