#nav-bar{
    height: 12vh;
    border-bottom: 1px solid black;
    position: relative;
    top: 0;
    background: rgba(0,0,0,0.65);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
    box-sizing: border-box;
    width: 100%;
    z-index: 10;
  }
  
  .login-button{
    background: #79E2FB;
    color: #0F1B33;
    padding: 0.75em 1em;
    text-transform: uppercase;
    /* font-size: 1rem; */
    font-size: Poppins;
    font-weight: bold;
    outline: none;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
  }
  
  .login-button:hover {
    background-color: #50b6cf;
    transform: scale(1.1);
  }
  
  .logo-div{
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  #nav-logo{
    height: 8vh;
  }
  
  .nav-links{
    display: flex;
    align-items: center;
  }
  
  .nav-link-item{
    color: white;
    padding: 0 1em;
    text-transform: uppercase;
    font-family: Poppins;
    border-left: 1.5px solid #79E2FB;
    border-right: 1.5px solid #79E2FB;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .nav-link-item:first-of-type {
    border-left: 0px;
  }
  
  .nav-link-item:last-of-type {
    border-right: 0px;
  }
  
  #chevron-right{
    margin-left: 0.5em;
  }
  
  #close-nav {
    margin-left: 1em;
    height: 1em;
    cursor: pointer;
  }
  
  #menu-overlay{
    display: none;
  }
  
  #mobile-menu-logo{
    margin-right: 1em;
  }
  
  /* Phones */
  @media (max-width: 640px) {
    #nav-bar{
      height: 8vh;
      padding: 0 2em;
      width: 100vw;
      box-sizing: border-box;
    }
    #nav-logo{
      height: 5vh;
    }
    .nav-links{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      flex-direction: column;
    }
    .nav-link-item:first-of-type, .nav-link-item:last-of-type {
      border: 1px solid #79E2FB;
      border-bottom: none;
    }
    .nav-link-item{
      padding: 1rem 0em;
      border: 1px solid #79E2FB;
      border-bottom: none;
      margin-bottom: 0.5em;
      width: 75vw;
      text-align: center;
      background: rgba(0,0,0,0.4);
      backdrop-filter: saturate(180%) blur(10px);
    }
    #menu-overlay{
      display: block;
      position: absolute;
      height: 100vh;
      width: 100vw;
      background: rgba(0,0,0,0.65);
      top: 0;
      left: 0;
    }
    #close-nav{
      display: none;
    }
  }