#nav-bar{
  height: 12vh;
  border-bottom: 1px solid black;
  position: relative;
  top: 0;
  background: rgba(0,0,0,0.65);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
  width: calc(100% - 6em);
  z-index: 10;
}

.login-button{
  background: #79E2FB;
  color: #0F1B33;
  padding: 0.75em 1em;
  text-transform: uppercase;
  /* font-size: 1rem; */
  font-size: Poppins;
  font-weight: bold;
  outline: none;
  border: none;
  transition: 0.5s;
  cursor: pointer;
  user-select: none;
}

.login-button:hover {
  background-color: #50b6cf;
  transform: scale(1.1);
}

.logo-div{
  box-sizing: border-box;
  cursor: pointer;
}

#nav-logo{
  width: 60%;
}

.nav-links{
  display: flex;
}

.nav-link-item{
  color: white;
  padding: 0 1em;
  text-transform: uppercase;
  font-family: Poppins;
  border-left: 1.5px solid #79E2FB;
  border-right: 1.5px solid #79E2FB;
  transition: 0.5s;
  cursor: pointer;
}

.nav-link-item:first-child {
  border-left: 0px;
}

.nav-link-item:last-child {
  border-right: 0px;
}