.separator {
	position: relative;
	background: linear-gradient(179deg, #ffffff 14.23%, #3ad4f8 99.14%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-weight: bold;
}

.button {
	position: relative;
	border-top: 3px #3ad4f8;
	text-transform: uppercase;
	padding: 0.35em 0.5em 0.35em 0.5em;
	margin: 0.25em;
	border: 2px solid #3ad4f8;
	border-bottom: none;
	border-image: linear-gradient(to bottom, #79e2fbff, #79e2fb00) 1;
	color: white;
	background: rgba(0, 0, 0, 0.33);
}

.navbarText {
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s all;
}

.navbarText:hover {
	letter-spacing: 2px;
	scale: 1.08;
}
