.footer {
	position: absolute;
	text-transform: uppercase;
	color: #79e2fb;
	bottom: 5px;
	font-family: Poppins;
	font-size: 0.85em;
	text-align: center;
	width: 100%;
}

@media only screen and (min-width: 1024px) {
	.footer {
		font-size: 1em;
	}
}
