.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 90%;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    margin-top: -2.5em;
}

.header{
    font-size: 2.5em;
    font-family: Atlantic_Cruise;
    text-transform: uppercase;  
    background: linear-gradient(179deg, #FFFFFF 14.23%, #3AD4F8 99.14%);
    filter: drop-shadow(0 0 1rem rgb(177, 175, 175));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: 9;
    text-align: center;
}

.content{
    position: relative;
    max-height: 65vh;
    padding: 1.5em;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 24px rgba(121, 226, 251, 0.35);
    backdrop-filter: blur(8px);
    font-size: 0.9em;
    overflow-y: auto;
}

@media only screen and (min-width: 1024px){
    .wrapper{
      width: 50%;
        flex-direction: row;
    }
    .header{
      width: 100%;
      font-size: 3.5em;
      font-family: Atlantic_Cruise;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      background: linear-gradient(179deg, #FFFFFF 14.23%, #3AD4F8 99.14%);
      filter: drop-shadow(0 0 1rem rgb(177, 175, 175));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-transform: rotate(270deg) translate(-50%, -50%);
      -moz-transform: rotate(270deg) translate(-50%, -50%);
      -ms-transform: rotate(270deg) translate(-50%, -50%);
      -o-transform: rotate(270deg) translate(-50%, -50%);
      transform: rotate(270deg) translate(-50%, -50%);
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0;
      letter-spacing: 0.05em;
    }
    .content{
        font-size: 1.15em;
        padding: 3em;
        width: 100%;
    }

    .about{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2em;
      font-size: 1.2em;
    }
}