.card{
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 24px rgba(121, 226, 251, 0.35);
    backdrop-filter: blur(8px);
}

.cardNoScroll {
  height: auto!important;
}
.cardDiv{
  position:relative;
}
.cardDiv:hover .cardImageParent {
  opacity: 20%;
}
.cardHoverTextChild{
  height: 100%;
  display: flex;
  text-align: center;
  align-items:center ;
  justify-content: center ;
  font-size: x-large;
}
.cardHoverText {
  height: fit-content;
}
.cardDiv:hover .cardHoverParent{
  position: absolute ;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: block;
  color: white;
  z-index: 20;  
  height: 80%;
}
.cardScroll {
  overflow-y: hidden;
}


.cardImage{
  height:80%;
  display:flex;
  align-items: center;
}

.cardImage>img{
  height: 150px;
  margin-bottom: 10px;
}
.cardHoverParent{
  display: none;
}