@font-face {
	font-family: 'Poppins';
	src: local('Poppins'),
		url(./assets/fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Poppins';
  font-weight: bold;
	src: local('Poppins'),
		url(./assets/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Atlantic-Cruise';
	src: local('Atlantic-Cruise'),
		url(./assets/fonts/atlantic_cruise/Atlantic_Cruise-Demo.ttf) format('truetype');
}

body {
	margin: 0px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 3px rgba(128, 128, 128, 1);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgba(73, 161, 255, 0.67);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(73, 161, 255);
}