.home-container{
  position:relative;
  display: flex;
  top: 41.5vh;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 83vh;
  align-items:center;
  flex-direction: column;
  user-select: none;
  overflow-y: scroll;
}

.title-prefix{
  color: white;
  font-size: 1.25rem;
  margin-top: 2em;
  font-family: Poppins;
}

.title {
  font-size: 12rem;
  font-family: 'Atlantic-Cruise';
  margin-top: 1rem;
  background : -webkit-linear-gradient(#FFFFFF, #3AD4F8);
  background : linear-gradient(#FFFFFF, #3AD4F8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 1rem rgb(177, 175, 175));
}

.title-suffix {
  margin-top: -0.5em;
  font-size: 1.5rem;
  font-family: 'Atlantic-Cruise';
  letter-spacing: 0.25em;
  color: #A1F6FF;
  font-weight: bold;
  word-spacing: 0.5em;
}

.register-button{
  background: #79E2FB;
  color: #0F1B33;
  padding: 0.75em 1em;
  text-transform: uppercase;
  font-size: 1rem;
  font-size: Poppins;
  font-weight: bold;
  outline: none;
  border: none;
  margin: 2rem 0 2rem 0;
  transition: 0.5s;
  cursor: pointer;
}

.register-button:hover {
  background-color: #50b6cf;
  transform: scale(1.1);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 1em;
  box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -7px rgb(0 0 0 / 20%);
  padding: 1em;
  text-align: center;
  font-family: Poppins;
  font-size: 1.5em;
  flex-direction: column;
}

/* Phones */
@media screen and (max-width: 350px){
  .title {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  .title-suffix {
    font-size: 1rem;
  }
}

@media (min-width: 351px) and (max-width: 640px) {
  .title {
    font-size: 6rem;
    margin-bottom: 1rem;
  }

  .title-suffix {
    font-size: 1rem;
  }
}

/* Decreasing font size coz of nitt Logo */
@media screen 
  and (min-width: 700px) 
  and (max-width: 1199px)  { 
    .title{
      font-size: 8rem;
    }
}

@media screen 
  and (min-width: 1200px) 
  and (max-width: 1599px) { 
    .title{
      font-size: 10rem;
    }
}
