.container{
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Poppins;
}

.mobileContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    padding: 1em;
    margin-top: -8em;
    font-family: Poppins;
}

.cardProperty{
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 24px rgba(121, 226, 251, 0.35);
    backdrop-filter: blur(8px);
    width: 30em;
}

.card{
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 24px rgba(121, 226, 251, 0.35);
    backdrop-filter: blur(8px);
}

.name{
    position: relative;
    font-family: Atlantic_Cruise;
    text-align: right;
    font-size: 3em;
    background: linear-gradient(179deg, #FFFFFF 14.23%, #3AD4F8 99.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(0 0 1rem rgb(177, 175, 175));
} 

@media only screen and (min-width: 1024px) {
    .name {
      font-size: 6em;
      text-align: center;
    }
    .container{
        width: 50%
    }
}
